<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Witaj w sklepie aukcyjnym</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <script src="script.js" defer></script>
</head>
<body>
<h1>Witaj szanowny kliencie!</h1>
<h2> Co chcesz zrobić?</h2>
<h3 th:text="${message}"></h3>
<ul>
    <li><a href="/register">Zarejestruj się w serwisie</a></li>
    <li><a href="/login">Zaloguj się</a></li>
    <li><a href="/add-auction"> Dodaj nową aukcję</a></li>
    <li><a href="/remove-auction"> Usuń aukcję</a></li>
    <li><a href="/console">Debug: Konsola bazy danych</a></li>
    <li><a href="/find-auction">Wyszukaj aukcje</a></li>

</ul>
</body>
</html>