<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Przeglądanie aukcji</title>
</head>
<body>
<h1>Aktualnie trwające aukcje</h1>
<form action="/browse-auction-form" method="post">
    <label> Wybierz typ aukcji: </label>
    <br>
    <label>KupTeraz</label>
    <input type="radio" th:field="${request.auctionType}" value="KUP_TERAZ">
    <label>Licytacja</label>
    <input type="radio" th:field="${request.auctionType}" value="LICYTACJA">
    <br>
    <button type="submit">Filtruj</button>
    <br>
</form>
<div th:each="auction : ${auctions}">
    <div th:text="${auction.name}"></div>
</div>
<h2><a href="/auctionHouse">Powrót na stronę główną sklepu</a></h2>
</body>
</html>